html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; */
  color: var(--body-text);
  direction: ltr;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.dashboard-body {
  background: var(--body-bg);
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb) !important;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track) !important;
}

/*
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

/* :focus, .focused {
  outline-color: var(--outline);
  outline-style: solid;
  outline-width: var(--outline-width);
} */
button, .btn {
  &:focus, &.focused {
    outline: none;
    box-shadow: 0 0 0 var(--outline-width) var(--outline);
    background: var(--input-focus-bg);
  }
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid var(--border);
  width: 100%;

  &.dark {
    border-color: var(--nav-bg);
  }
}

hr.vertical {
  border-top: 0;
  border-left: 1px solid var(--border);
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
a {
  color: var(--link);
  text-decoration: none;
}
a:hover, a:active {
  color: var(--body-text);
  text-decoration: none;
}

.section-divider {
  margin-bottom: 20px;
  margin-top: 20px;
}
