.k-form-item--required {
  color: red;
  top: 0;
}

input.k-input-search[type='search'] {
  width: 100%;
  padding: 10px;
  background-color: var(--input-bg);
  border-radius: var(--border-radius);
  border: solid var(--outline-width) var(--input-border);
  color: var(--input-text);

  &::placeholder {
    color: var(--input-placeholder);
  }

  &.disabled, &.disabled .selected, &[disabled], &[disabled]:hover {
    color: var(--input-disabled-text);
    background-color: var(--input-disabled-bg);
    outline-width: 0;
    border-color: var(--input-disabled-border);
    cursor: not-allowed;
    & label {
      color: var(--input-disabled-label);
    }
    &::placeholder {
        color: var(--input-disabled-placeholder);
    }
  }
  &:focus, &:hover {
    outline: none;
    box-shadow: 0 0 0 var(--outline-width) var(--outline);
    background: var(--input-focus-bg)
  }
}

input:not([type]),
input[type='text'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='url'],
select,
textarea,
.k-input,
.k-select,
.k-combo-box,
.k-radio {
  &.disabled, &.disabled .selected, &[disabled], &[disabled]:hover {
    color: var(--input-disabled-text);
    background-color: var(--input-disabled-bg);
    outline-width: 0;
    border-color: var(--input-disabled-border);
    cursor: not-allowed;
    & label {
      color: var(--input-disabled-label);
      display: inline-block;
      z-index: 1;
    }
    &::placeholder {
        color: var(--input-disabled-placeholder);
    }
  }
  &:not(.disabled,[disabled]):hover {
    background: var(--input-hover-bg);
  }
}
