*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

::moz-focus-inner {
  border-style: none;
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

a {
  color: inherit;
  text-decoration: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: Lato, arial, helvetica, sans-serif;
  line-height: 1.5
}

body {
  margin: 0;
  font-size: 14px;
  font-family: inherit;
  line-height: inherit
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button {
  background-color: transparent;
  background-image: none;
}

button,
[role=button] {
  cursor: pointer;
}

hr,
h6,
p,
h3,
pre,
h1,
h4 {
  margin: 0
}

h6,
h3,
h1,
h4 {
  font-size: inherit;
  font-weight: inherit
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}